<%= form_for(@picture) do |f| %>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description, autofocus: true, autocomplete: "description" %>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>